body {
  background: #352f5b;
  display: flex;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  border: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.finished {
  display: none;
}

.time {
  text-align: center;
  color: #fff;
}

.btn {
  color: #fff;
  border: 2px solid #fff;
  padding: 8px;
  font-size: 16px;
}

.btn:hover {
  background-color: #fff;
  opacity: 0.6;
}
